<div class="container">
  <h1>Add a Cocktail</h1>
  <%= simple_form_for(@cocktail) do |f| %>
  <%= f.input :name %>
  <%= f.submit class: "btn btn-primary" %>
  <% end %>

  <p><%= link_to "Overview", cocktails_path, class: "btn btn-primary" %>
  </div>
